body {
    font-family: 'ubuntu';
    font-size: 16px;
    font-weight: 400;
     line-height: 24px;
}
body h1 {
    font-size: 35px;
    margin-bottom: 20px;
    margin: 20px;
}
.card {
    width: 500px;
    height: auto;
    border: 1px solid #999;
    box-shadow: 1px 7px 10px #999;

}
.pic {
    width: 460px;
    height: auto;
}
.picbox {
    margin: 20px;
}
.content {
    margin: 20px;
    padding: 0 10px;
    border: 1px solid #999;
    white-space: unset;
}
.text-bold {
    font-weight: bolder;
}